<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Coversongs</a>

        <form [formGroup]="newSongForm" (ngSubmit)="onSubmit()">
            <div class="input-group me-1">
                <span class="input-group-text">Neuen Song</span>
                <input class="form-control" type="text" formControlName="title" placeholder="Titel" />
                <span class="input-group-text">von</span>
                <input class="form-control" type="text" formControlName="artist" placeholder="Interpret" />
                <button class="btn btn-outline-success" type="submit" [disabled]="!newSongForm.valid">
                    hinzufügen
                </button>
            </div>
        </form>

        <button class="btn btn-outline-secondary" (click)="songRepository.seedWithDummyData()">
            Seed with dummy data
        </button>
    </div>
</nav>
