<div class="container">
    <ng-container *ngIf="song; else noSong">
        <div class="information mb-3">
            <h2>{{ song.title }}</h2>
            <p>by {{ song.artist }}</p>
            <a href="{{ song.link }}" target="_blank">{{ song.link }}</a>
        </div>

        <div class="actions">
            <button class="btn btn-outline-danger" (click)="onDeleteClick(song.id)">Song löschen</button>
        </div>
    </ng-container>

    <ng-template #noSong>
        <div class="alert alert-warning">No song found by the given ID.</div>
    </ng-template>
</div>
